{% load static %}


<link rel="stylesheet" href="{% static 'assets/css/control-panel.css' %}" type="text/css">
<!--<link rel="stylesheet" href="{% static 'assets/css/main-section-current.css' %}" type="text/css">
-->
<div class="control-panel">
  <div class="sidenav__close-icon">
    <i class="fas fa-times sidenav__brand-close"></i>
  </div>

  <div class="control-menu">
    <div class="title-menu"><h3>CONTROL PANEL</h3></div> 
      
    <div class="btn-resquest-server"><a class="fluid ui yellow button"><i class="play circle outline icon"></i>Request Server</a></div>
    <div class="btn-current"><a  class="fluid ui blue button inverted active"><i class="industry icon"></i>Motor</a></div>
    <div class="btn-pf"><a class="fluid ui blue button inverted"><i class="microchip icon"></i>Devices</a></div>
    <div class="btn-voltage"><a class="fluid ui blue button inverted"><i class="bolt icon"></i>Tank</a></div>
    <div class="btn-frequency"><a class="fluid ui blue  button inverted"><i class="fax icon"></i>Temp</a></div>
    <div class="btn-power"><a class="fluid ui blue button inverted"><i class="lightbulb icon"></i>Energy</a></div>
    <div class="btn-demand"><a class="fluid ui blue button inverted"><i class="lightbulb icon"></i>Demand</a></div> 

 
  </div> 

<div class="ui divider"></div>


</div>