{% extends 'base1.html' %}
{% load static %}

{% block title %} Dashboard Custom {% endblock %}

{% block header-control %}
  <div class="header-control-title"><h3>DASHBOARD FUEL CONSUMPTION</h3> </div>
    <div class="header-control-button"> 

    </div>  
  </div>
{% endblock %}

{% block menu %}
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" />
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" />
{% include 'dashboard/menu/control-menu-dashboard.html' %}
{% endblock %}

{% block main %}

{% endblock %}


<style>
    html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
</style>


 {% block javascript %}
 <script type="text/javascript" src=" https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/csv-data/msft-daily-short.js"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/csv-data/orcl-daily-short.js"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/csv-data/csco-daily-short.js"></script>
 <script type="text/javascript" src="https://cdn.anychart.com/csv-data/ibm-daily-short.js"></script>
 <script>
$('input[name="datefilter"]').daterangepicker({
      autoUpdateInput: false,
      drops: "up",
      
      buttonClasses: "button",
      applyButtonClasses: "ui blue  ",
      cancelClass: "ui  grey ",
      locale: {
          cancelLabel: 'Clear'
      }
    });


    let date = {}


     const dateRangePicker =() =>{
  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
  $(this).val(picker.startDate.format('DD-MM-YYYY') + ' - ' + picker.endDate.format('DD-MM-YYYY'));
    date.range = $(this).val(picker.startDate.format('DD-MM-YYYY') + ' - ' + picker.endDate.format('DD-MM-YYYY'))[0].value
    date.start = date.range.slice(0,11);
    date.end = date.range.slice(13, );
    return date
});
  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
    date.range = ''
    date.start = ''
    date.end = ''
    return date
  });
} 


dateRangePicker();

 

$('.ui.dropdown')
.dropdown()
;


$('.ui.dropdown').dropdown({
    onChange: function () {
      let currentUser1 = $('.gate').dropdown('get text');
 console.log(currentUser1)
    }
  });


$('.ui.checkbox')
  .checkbox()
;

anychart.onDocumentReady(function () {
    // The data used in this sample can be obtained from the CDN
    // https://cdn.anychart.com/csv-data/msft-daily-short.js
    // https://cdn.anychart.com/csv-data/orcl-daily-short.js
    // https://cdn.anychart.com/csv-data/csco-daily-short.js
    // https://cdn.anychart.com/csv-data/ibm-daily-short.js

    // create data tables on loaded data
    var msftDataTable = anychart.data.table();
    msftDataTable.addData(get_msft_daily_short_data());

    var orclDataTable = anychart.data.table();
    orclDataTable.addData(get_orcl_daily_short_data());

    var cscoDataTable = anychart.data.table();
    cscoDataTable.addData(get_csco_daily_short_data());

    var ibmDataTable = anychart.data.table();
    ibmDataTable.addData(get_ibm_daily_short_data());

    // create stock chart
    var chart = anychart.stock();

    // create first plot on the chart with column series
    var firstPlot = chart.plot(0);
    // create line series on the first plot
    firstPlot.line()
            .data(msftDataTable.mapAs({'value': 4}))
            .name('MOTOR 1');

    // create second plot on the chart
    var secondPlot = chart.plot(1);
    // create spline line series on the second plot
    secondPlot.spline()
            .data(orclDataTable.mapAs({'value': 4}))
            .name('MOTOR 2')
            .fill('#1976d2 0.65')
            .stroke('1.5 #1976d2');

    // create third plot
    var thirdPlot = chart.plot(2);
    // create step line series on the third plot
    thirdPlot.stepLine()
            .data(cscoDataTable.mapAs({'value': 4}))
            .name('MOTOR 3')
            .fill('#ef6c00 0.65')
            .stroke('1.5 #ef6c00');

    // create forth plot
    var forthPlot = chart.plot(3);
    // create step line series on the forth plot
    forthPlot.line()
            .data(msftDataTable.mapAs({'value': 4}))
            .name('MOTOR 1')
            .tooltip(false);
    forthPlot.spline()
            .data(orclDataTable.mapAs({'value': 4}))
            .name('MOTOR 2')
            .tooltip(false);
    forthPlot.stepLine()
            .data(cscoDataTable.mapAs({'value': 4}))
            .name('MOTOR 3')
            .tooltip(false);

    // create scroller series with mapped data
    chart.scroller().line(msftDataTable.mapAs({'value': 4}));

    // set chart selected date/time range
    chart.selectRange('2005-01-03', '2005-11-20');

    // set container id for the chart
    chart.container('container');
    // initiate chart drawing
    chart.draw();
    chart.background({fill: "#f4f5fa 1.0"});
    // create range picker
  

    // create range selector
  

});
      </script>
    
 {% endblock %}