{% extends 'base1.html' %}
{% load static %}

{% block title %} Dashboard Custom {% endblock %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% block header-control %}
  <div class="header-control-title"><h3>DASHBOARD FUEL CONSUMPTION</h3> </div>
    <div class="header-control-button"> 
       
    </div>  
  </div>
{% endblock %}

{% block menu %}
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" />
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" />

{% endblock %}

{% block main %}
<style>

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
 
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;

}

.main{
  padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card_image {
  width: 400px;
  height: 100px;
  object-fit: cover;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.cards_item {
  display: flex;
  padding: 0.4rem;
}

@media (min-width: 600px) {
  .cards_item {
    width: 350px;
  }
}

@media (min-width: 1000px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 1500px) {
  .cards_item {
    width: 350px;
  }
}

.card  {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 300px;
  width: 350px;
}


.card_content {
  padding: 1rem;
  background: #d4d4d545;
}

.card_title {
  color: #5c5a5a;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}

.card_info {
  color: #5c5a5a;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 20px;
  text-align: center;
}

.card_text {
  color: #5c5a5a;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.25rem;    
  font-weight: 400;
  display: inline-block;

}
.card_data{
  padding: 0.5rem;
  padding-left: 2rem;
  background-color: #d4d4d545;
  height: 550px;
}
.card_text_data{
    display: inline-block;
    vertical-align: top;
    align-items: center;
}
.card_footer{
  background-color: #d4d4d545;  
  padding-bottom: 20px;
  text-align: center;
}

#left {
 font-size: 50px;
 width: 100%;
 padding: 20px;
 text-align: center;
 }
#right {
 font-size: 14px;
 width: 100%;
 padding-top: 10px;
 font-weight: bold;
 text-align: center;
 color: #2ecc40;
}
.ui.divider {
    margin: 0.7rem;

}

.ui.card, .ui.cards>.card {
    height: 210px;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    z-index: '';
}

    </style>

<div class="main">
  <div class="ui cards">
    {% for motordata in object_list.motordata %}  
    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="{% static 'assets/images/medidor.png' %}">
        <div class="header" style="text-align: center;">
          {{ motordata.motor|upper }}
        </div>
        <div class="meta" style="text-align: center;">
          {{ motordata.operation }}
        </div>
       
        <div class="description">
          <div class="ui divider" style="padding-top: 10px;"></div>
          <div id="left"> {{ motordata.day }}   l/h</div>
        </div>
        
          <div id="right">comparison previous day 5%</div>
            
        


      </div>
      
    </div>
    {% endfor %}
  </div>





    <div id="container"></div>

  </div>

  <style>
    #container {
    padding-top: 10px;  
    width: 1208px;
    height: 500px;
    margin: 10px;
    margin-left: 287px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    
}
</style>


<style>
    .ui.modal>.header {
    display: block;
    background: #1f88be;
    text-align: center;
    box-shadow: none;
    color: #fff;
  
}
.ui.modal>.content {
    background: #f9fafb;
}
.header {
    background-color: #ffffff00;
}

</style>









{% endblock %}


 {% block javascript %}



 <div id="anychart-embed-src-stock-chart-types-multi-series-spline-chart" class="anychart-embed anychart-embed-src-stock-chart-types-multi-series-spline-chart">
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/csv-data/dji-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/ixic-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/gspc-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/msft-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/orcl-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/csco-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/ibm-daily-short.js"></script>


<script>

anychart.onDocumentReady(function () {
    // The data used in this sample can be obtained from the CDN
    // https://cdn.anychart.com/csv-data/dji_daily_short.js
    // https://cdn.anychart.com/csv-data/ixic-daily-short.js
    // https://cdn.anychart.com/csv-data/gspc-daily-short.js
    // https://cdn.anychart.com/csv-data/msft-daily-short.js
    // https://cdn.anychart.com/csv-data/orcl-daily-short.js
    // https://cdn.anychart.com/csv-data/csco-daily-short.js
    // https://cdn.anychart.com/csv-data/ibm-daily-short.js

    // create data tables on loaded data
    var djiDataTable = anychart.data.table();
    djiDataTable.addData(get_dji_daily_short_data());

    var ixicDataTable = anychart.data.table();
    ixicDataTable.addData(get_ixic_daily_short_data());

    var gspcDataTable = anychart.data.table();
    gspcDataTable.addData(get_gspc_daily_short_data());

    var msftDataTable = anychart.data.table();
    msftDataTable.addData(get_msft_daily_short_data());

    var orclDataTable = anychart.data.table();
    orclDataTable.addData(get_orcl_daily_short_data());

    var cscoDataTable = anychart.data.table();
    cscoDataTable.addData(get_csco_daily_short_data());

    var ibmDataTable = anychart.data.table();
    ibmDataTable.addData(get_ibm_daily_short_data());

    // create stock chart
    var chart = anychart.stock();
    // set chart title
    chart.title('Fuel Consumption Motors Real Time ');
    // create plot on the chart
    var plot = chart.plot(0);
    plot.yScale('log');

    // create plot series with mapped data
    plot.spline(ixicDataTable.mapAs({'value': 4})).name('Motor 1');
    plot.spline(gspcDataTable.mapAs({'value': 4})).name('Motor 2');
    plot.spline(msftDataTable.mapAs({'value': 4})).name('Motor 3');
    plot.spline(orclDataTable.mapAs({'value': 4})).name('Motor 4');

    plot.yGrid(true)
                .xGrid(true)
                .yMinorGrid(true)
                .xMinorGrid(true);
    // create scroller series with mapped data
    chart.scroller().line(djiDataTable.mapAs({'value': 4}));

    // set container id for the chart
    chart.container('container');
    // initiate chart drawing
    chart.draw();

    // create range picker
    var rangePicker = anychart.ui.rangePicker();
    // init range picker
    rangePicker.render(chart);

    // create range selector
    var rangeSelector = anychart.ui.rangeSelector();
    // init range selector
    rangeSelector.render(chart);
});
      </script>

{% endblock %}